<div class="card small">
          <div class="card-image">
              <img src="<%= store.avatar %>">
            </div>
            <div class="card-content">
              <p> <%= store.name %> </p>
              <p> <%= store.category %> </p>

              <a href="/store/edit/<%= store.id %>" class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
              </a>
            </div>
            <div class="card-action">
              <a href="/store/<%= store.id %>/products">Products</a>
              <i class="material-icons">thumb_up</i>
              <i class="material-icons">thumb_down</i>
            </div>
</div>